/* ! class 가 없더라도 조건에 맞으면 가능 */
/* @ 조건 : 첫뻔재 요소이냐 / 마지막 요소이냐  */

li:first-child{
    color: #0066ff;
}/* li 태그이자 첫번째 요소 */

li:last-child{
    color: #ffc82c;
}/* li 태그이자 마지막 요소 */
/* # 굉장히 유용함 css 작업하다 보면 첫뻔째 요소와 / 마지막 요소는
#   다른 요소들과 차이를 줘야 할 때가 많음 */

li:nth-child(4){
    color: #ff4949;
}/* li 태그이자 자식요소중 n번째 */
/* # 가장 많이 쓰임 */